In [11]:
import numpy as np
import pandas as pd

from py_ball import boxscore, league_dash

HEADERS = {'Connection': 'keep-alive',
           'Host': 'stats.nba.com',
           'Origin': 'http://stats.nba.com',
           'Upgrade-Insecure-Requests': '1',
           'Referer': 'stats.nba.com',
           'x-nba-stats-origin': 'stats',
           'x-nba-stats-token': 'true',
           'Accept-Language': 'en-US,en;q=0.9',
           "X-NewRelic-ID": "VQECWF5UChAHUlNTBwgBVw==",
           'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6)' +\
                         ' AppleWebKit/537.36 (KHTML, like Gecko)' + \
                         ' Chrome/81.0.4044.129 Safari/537.36'}

In [12]:
league_id = '00'
per_mode = 'Totals'
season = '2020-21'
measure_type = 'Base'
team_id = '0'

player_data = league_dash.LeagueDash(headers=HEADERS,
                                     endpoint='leaguedashplayerstats',
                                     league_id=league_id,
                                     season=season,
                                     measure_type=measure_type,
                                     per_mode=per_mode,
                                     team_id=team_id)
player_df = pd.DataFrame(player_data.data['LeagueDashPlayerStats'])

In [13]:
player_df

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,1610612753,ORL,25.0,9,6,3,0.667,236.766667,...,367,237,61,83,156,90,59,12,5,"203932,1610612753"
1,1628988,Aaron Holiday,1610612754,IND,24.0,9,6,3,0.667,192.158333,...,186,390,313,244,213,246,102,12,5,"1628988,1610612754"
2,1630174,Aaron Nesmith,1610612738,BOS,21.0,3,2,1,0.667,39.036667,...,1,153,416,374,336,386,102,12,5,"1630174,1610612738"
3,1629690,Adam Mokoka,1610612741,CHI,22.0,5,0,5,0.000,38.975000,...,1,117,416,356,250,356,102,12,5,"1629690,1610612741"
4,201143,Al Horford,1610612760,OKC,34.0,8,5,3,0.625,214.901667,...,186,227,261,152,198,134,102,12,5,"201143,1610612760"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,1630214,Xavier Tillman,1610612763,MEM,21.0,4,1,3,0.250,73.700000,...,248,104,338,306,93,303,102,12,5,"1630214,1610612763"
451,1629139,Yuta Watanabe,1610612761,TOR,26.0,5,2,3,0.400,57.766667,...,186,153,374,356,260,319,102,12,5,"1629139,1610612761"
452,203897,Zach LaVine,1610612741,CHI,25.0,11,4,7,0.364,387.290000,...,387,440,12,2,442,3,102,12,5,"203897,1610612741"
453,1630192,Zeke Nnaji,1610612743,DEN,20.0,5,4,1,0.800,10.793333,...,1,38,416,423,365,437,102,12,5,"1630192,1610612743"
454,1629627,Zion Williamson,1610612740,NOP,20.0,9,4,5,0.444,286.111667,...,455,330,16,31,316,46,14,12,5,"1629627,1610612740"

In [15]:
TEAM_TO_ID_NBA = {'TOR': '1610612761', 'DEN': '1610612743',
                  'DET': '1610612765', 'NOP': '1610612740',
                  'MIL': '1610612749', 'GSW': '1610612744',
                  'SAS': '1610612759', 'POR': '1610612757',
                  'LAC': '1610612746', 'DAL': '1610612742',
                  'MEM': '1610612763', 'PHI': '1610612755',
                  'BOS': '1610612738', 'MIN': '1610612750',
                  'CHA': '1610612766', 'IND': '1610612754',
                  'ORL': '1610612753', 'MIA': '1610612748',
                  'HOU': '1610612745', 'SAC': '1610612758',
                  'UTA': '1610612762', 'BKN': '1610612751',
                  'ATL': '1610612737', 'PHX': '1610612756',
                  'WAS': '1610612764', 'NYK': '1610612752',
                  'OKC': '1610612760', 'LAL': '1610612747',
                  'CLE': '1610612739', 'CHI': '1610612741'}

In [16]:
team_df = player_df[player_df['TEAM_ID'] ==
                    int(TEAM_TO_ID_NBA['SAS'])].sort_values("PTS")
team_df

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
245,1628966,Keita Bates-Diop,1610612759,SAS,24.0,2,1,1,0.500,1.985000,...,1,1,416,438,260,447,102,12,5,"1628966,1610612759"
284,1629677,Luka Samanic,1610612759,SAS,21.0,3,1,2,0.333,8.268333,...,248,1,374,401,205,440,102,12,5,"1629677,1610612759"
111,1628401,Derrick White,1610612759,SAS,26.0,1,0,1,0.000,22.866667,...,186,38,338,368,213,390,102,12,5,"1628401,1610612759"
124,1629234,Drew Eubanks,1610612759,SAS,23.0,3,0,3,0.000,58.433333,...,186,153,290,368,298,323,102,12,5,"1629234,1610612759"
428,1626168,Trey Lyles,1610612759,SAS,25.0,5,2,3,0.400,64.751667,...,1,38,313,362,328,332,102,12,5,"1626168,1610612759"
424,1630200,Tre Jones,1610612759,SAS,21.0,3,1,2,0.333,10.451667,...,1,1,338,356,241,389,102,12,5,"1630200,1610612759"
114,1630170,Devin Vassell,1610612759,SAS,20.0,9,5,4,0.556,134.818333,...,128,177,261,274,47,242,102,12,5,"1630170,1610612759"
186,1627751,Jakob Poeltl,1610612759,SAS,25.0,10,5,5,0.500,192.825000,...,293,278,140,255,47,185,102,12,5,"1627751,1610612759"
271,200746,LaMarcus Aldridge,1610612759,SAS,35.0,7,5,2,0.714,203.790000,...,248,253,212,120,392,146,102,12,5,"200746,1610612759"
375,200752,Rudy Gay,1610612759,SAS,34.0,10,5,5,0.500,232.760000,...,367,330,198,97,47,100,102,12,5,"200752,1610612759"
247,1629640,Keldon Johnson,1610612759,SAS,21.0,10,5,5,0.500,314.316667,...,445,408,74,75,438,61,37,12,5,"1629640,1610612759"
279,1629022,Lonnie Walker IV,1610612759,SAS,22.0,10,5,5,0.500,286.810000,...,293,330,113,75,447,107,102,12,5,"1629022,1610612759"
350,201988,Patty Mills,1610612759,SAS,32.0,10,5,5,0.500,255.425000,...,338,278,74,61,90,118,102,12,5,"201988,1610612759"
102,1627749,Dejounte Murray,1610612759,SAS,24.0,10,5,5,0.500,327.088333,...,419,382,74,51,260,36,37,4,5,"1627749,1610612759"
97,201942,DeMar DeRozan,1610612759,SAS,31.0,9,5,4,0.556,310.410000,...,435,330,14,35,421,26,102,12,5,"201942,1610612759"

In [17]:
game = boxscore.BoxScore(headers=HEADERS, 
                  game_id='0022000147', 
                  endpoint='boxscoretraditionalv2', 
                  range_type='1', 
                  start_period='0', 
                  end_period='10', 
                  start_range='0', 
                  end_range='0')
game_df = pd.DataFrame(game.data['TeamStarterBenchStats'])
game_df

,GAME_ID,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,STARTERS_BENCH,MIN,FGM,FGA,FG_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,0022000147,1610612759,Spurs,SAS,San Antonio,Starters,171:45,26,65,0.400,...,0.636,6,27,33,16,3,4,6,11,64
1,0022000147,1610612759,Spurs,SAS,San Antonio,Bench,171:45,26,65,0.400,...,0.636,6,27,33,16,3,4,6,11,64
2,0022000147,1610612750,Timberwolves,MIN,Minnesota,Starters,131:40,24,52,0.462,...,0.909,4,21,25,11,3,1,6,8,66
3,0022000147,1610612750,Timberwolves,MIN,Minnesota,Bench,131:40,24,52,0.462,...,0.909,4,21,25,11,3,1,6,8,66

In [18]:
from py_ball import scoreboard

league_id = '00' #WNBA
game_date = '11/07/2019'
day_offset = '0'

scores = scoreboard.ScoreBoard(headers=HEADERS,
                               endpoint='scoreboardv2',
                               league_id=league_id,
                               game_date=game_date,
                               day_offset=day_offset)

scoreboard_df = pd.DataFrame(scores.data['GameHeader'])
list(scoreboard_df.head(15))

['GAME_DATE_EST',
 'GAME_SEQUENCE',
 'GAME_ID',
 'GAME_STATUS_ID',
 'GAME_STATUS_TEXT',
 'GAMECODE',
 'HOME_TEAM_ID',
 'VISITOR_TEAM_ID',
 'SEASON',
 'LIVE_PERIOD',
 'LIVE_PC_TIME',
 'NATL_TV_BROADCASTER_ABBREVIATION',
 'HOME_TV_BROADCASTER_ABBREVIATION',
 'AWAY_TV_BROADCASTER_ABBREVIATION',
 'LIVE_PERIOD_TIME_BCAST',
 'ARENA_NAME',
 'WH_STATUS']

In [19]:
pd.DataFrame(scores.data['GameHeader']).T

,0,1,2,3
GAME_DATE_EST,2019-11-07T00:00:00,2019-11-07T00:00:00,2019-11-07T00:00:00,2019-11-07T00:00:00
GAME_SEQUENCE,1,2,3,4
GAME_ID,0021900112,0021900113,0021900114,0021900115
GAME_STATUS_ID,3,3,3,3
GAME_STATUS_TEXT,Final,Final,Final,Final
GAMECODE,20191107/BOSCHA,20191107/OKCSAS,20191107/MIAPHX,20191107/PORLAC
HOME_TEAM_ID,1610612766,1610612759,1610612756,1610612746
VISITOR_TEAM_ID,1610612738,1610612760,1610612748,1610612757
SEASON,2019,2019,2019,2019
LIVE_PERIOD,4,4,4,4
LIVE_PC_TIME,,,,
NATL_TV_BROADCASTER_ABBREVIATION,TNT,None,None,TNT
HOME_TV_BROADCASTER_ABBREVIATION,None,FSSW-SA,FSA,None
AWAY_TV_BROADCASTER_ABBREVIATION,NBCSB,FSOK,FSSUN,None
LIVE_PERIOD_TIME_BCAST,Q4 - TNT,Q4 -,Q4 -,Q4 - TNT
ARENA_NAME,Spectrum Center,AT&T Center,Talking Stick Resort Arena,Staples Center
WH_STATUS,1,1,1,1

In [40]:
from nba_api.stats.endpoints import leaguegamefinder

TeamIdList = list(TEAM_TO_ID_NBA.values())

# Query for games 

gamefinder = leaguegamefinder.LeagueGameFinder(league_id_nullable='00', season_type_nullable='Regular Season')
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games_15_21 = games[games['SEASON_ID'] >= '22015']
games_15_21

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612759,SAS,San Antonio Spurs,0022000147,2021-01-10,SAS @ MIN,L,240,88,...,0.571,9,36,45,21,4,5,10,16,-5.2
1,22020,1610612741,CHI,Chicago Bulls,0022000142,2021-01-10,CHI @ LAC,L,240,127,...,0.882,3,35,38,30,6,2,22,19,-3.0
2,22020,1610612746,LAC,LA Clippers,0022000142,2021-01-10,LAC vs. CHI,W,240,130,...,0.800,12,23,35,28,13,5,10,19,3.0
3,22020,1610612744,GSW,Golden State Warriors,0022000148,2021-01-10,GSW vs. TOR,W,240,106,...,0.895,12,39,51,30,2,10,15,18,1.0
4,22020,1610612750,MIN,Minnesota Timberwolves,0022000147,2021-01-10,MIN vs. SAS,W,239,96,...,0.826,9,43,52,19,6,3,13,17,11.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12245,22015,1610612740,NOP,New Orleans Pelicans,0021500003,2015-10-27,NOP @ GSW,L,241,95,...,0.704,8,25,33,21,9,3,18,26,-16.0
12246,22015,1610612737,ATL,Atlanta Hawks,0021500001,2015-10-27,ATL vs. DET,L,239,94,...,0.800,7,33,40,22,9,4,15,25,-12.0
12247,22015,1610612739,CLE,Cleveland Cavaliers,0021500002,2015-10-27,CLE @ CHI,L,240,95,...,0.588,11,39,50,26,5,7,10,21,-2.0
12248,22015,1610612744,GSW,Golden State Warriors,0021500003,2015-10-27,GSW vs. NOP,W,241,111,...,0.909,21,35,56,29,8,7,20,29,16.0
12249,22015,1610612765,DET,Detroit Pistons,0021500001,2015-10-27,DET @ ATL,W,239,106,...,0.769,23,36,59,23,5,3,15,15,12.0

In [41]:
ListGameId = games_15_21.GAME_ID.unique()

In [43]:
print(len(ListGameId))

6125

In [86]:
from nba_api.stats.endpoints import boxscoretraditionalv2, boxscoreadvancedv2, scoreboardv2

score_board = scoreboardv2.ScoreboardV2(game_date = '2015-10-27')
score_board.game_header.get_data_frame()

,GAME_DATE_EST,GAME_SEQUENCE,GAME_ID,GAME_STATUS_ID,GAME_STATUS_TEXT,GAMECODE,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,LIVE_PERIOD,LIVE_PC_TIME,NATL_TV_BROADCASTER_ABBREVIATION,HOME_TV_BROADCASTER_ABBREVIATION,AWAY_TV_BROADCASTER_ABBREVIATION,LIVE_PERIOD_TIME_BCAST,ARENA_NAME,WH_STATUS
0,2015-10-27T00:00:00,1,0021500001,3,Final,20151027/DETATL,1610612737,1610612765,2015,4,,None,FSSE-ATL,FSD,Q4 -,Philips Arena,1
1,2015-10-27T00:00:00,2,0021500002,3,Final,20151027/CLECHI,1610612741,1610612739,2015,4,,TNT,None,None,Q4 - TNT,United Center,1
2,2015-10-27T00:00:00,3,0021500003,3,Final,20151027/NOPGSW,1610612744,1610612740,2015,4,,TNT,None,None,Q4 - TNT,ORACLE Arena,1

In [ ]:


game_data = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id='0022000147')
game_df = game_data.get_data_frames()[0]
game_df.loc[game_df['COMMENT'] == '']
game_stat_df

In [68]:
from nba_api.stats.endpoints import boxscoretraditionalv2, boxscoreadvancedv2
game_data = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id='0022000147')
game_df = game_data.get_data_frames()[0]
game_df.loc[game_df['COMMENT'] == '']

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,E_OFF_RATING,...,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,0022000147,1610612759,SAS,San Antonio,1629640,Keldon Johnson,F,,33:44,92.7,...,20.0,0.167,0.218,0.114,0.116,99.18,99.60,83.00,71,0.011
1,0022000147,1610612759,SAS,San Antonio,1626168,Trey Lyles,F,,35:00,99.5,...,0.0,0.500,0.512,0.060,0.061,96.52,96.69,80.57,71,0.089
2,0022000147,1610612759,SAS,San Antonio,200746,LaMarcus Aldridge,C,,36:43,93.3,...,7.4,0.452,0.466,0.258,0.264,98.99,99.36,82.80,76,0.121
3,0022000147,1610612759,SAS,San Antonio,1629022,Lonnie Walker IV,G,,30:22,98.6,...,7.4,0.553,0.578,0.333,0.344,96.01,97.21,81.01,62,0.159
4,0022000147,1610612759,SAS,San Antonio,1627749,Dejounte Murray,G,,35:56,95.5,...,0.0,0.367,0.367,0.181,0.182,98.02,96.85,80.71,73,0.041
5,0022000147,1610612759,SAS,San Antonio,201988,Patty Mills,,,29:21,70.9,...,8.0,0.447,0.463,0.288,0.304,99.40,100.58,83.82,62,0.144
6,0022000147,1610612759,SAS,San Antonio,1630170,Devin Vassell,,,9:47,38.1,...,0.0,0.000,0.000,0.087,0.095,109.80,115.30,96.08,23,0.154
7,0022000147,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,,,11:17,64.0,...,0.0,0.500,0.347,0.125,0.131,97.50,97.84,81.54,23,-0.148
8,0022000147,1610612759,SAS,San Antonio,200752,Rudy Gay,,,17:50,69.1,...,22.2,0.333,0.333,0.174,0.188,100.13,100.93,84.11,38,0.136
13,0022000147,1610612750,MIN,Minnesota,1629633,Jarrett Culver,F,,19:55,117.3,...,18.2,0.200,0.200,0.167,0.170,98.33,98.81,82.34,40,0.030
14,0022000147,1610612750,MIN,Minnesota,1627823,Juancho Hernangomez,F,,27:10,131.9,...,0.0,0.500,0.595,0.097,0.099,96.12,96.29,80.25,55,0.087
15,0022000147,1610612750,MIN,Minnesota,202334,Ed Davis,C,,18:02,125.9,...,0.0,1.000,1.000,0.079,0.079,91.14,91.83,76.52,34,0.140
16,0022000147,1610612750,MIN,Minnesota,1627736,Malik Beasley,G,,35:19,119.7,...,0.0,0.583,0.621,0.238,0.249,98.21,97.86,81.55,72,0.130
17,0022000147,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,G,,31:14,115.7,...,12.1,0.524,0.571,0.406,0.421,96.64,96.82,80.68,62,0.160
18,0022000147,1610612750,MIN,Minnesota,1629675,Naz Reid,,,29:23,78.3,...,23.1,0.500,0.628,0.176,0.178,100.74,103.71,86.42,61,0.115
19,0022000147,1610612750,MIN,Minnesota,1630162,Anthony Edwards,,,17:42,54.2,...,18.2,0.000,0.000,0.227,0.229,104.53,107.14,89.28,39,-0.177
20,0022000147,1610612750,MIN,Minnesota,201937,Ricky Rubio,,,21:58,75.3,...,0.0,0.400,0.592,0.137,0.145,104.19,105.98,88.32,48,0.375
21,0022000147,1610612750,MIN,Minnesota,1629020,Jarred Vanderbilt,,,19:09,62.8,...,16.7,0.500,0.512,0.140,0.155,100.23,102.79,85.65,41,0.197
22,0022000147,1610612750,MIN,Minnesota,1629006,Josh Okogie,,,20:08,97.4,...,14.3,0.600,0.510,0.146,0.155,97.13,100.13,83.44,43,0.070

In [5]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()
# Select the dictionary for the Celtics, which contains their team ID
celtics = [team for team in nba_teams if team['abbreviation'] == 'BOS'][0]
celtics_id = celtics['id']

In [6]:
from nba_api.stats.endpoints import leaguegamefinder

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder()
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games[games['GAME_DATE'] >= '2015-12-22']

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22020,1610612759,SAS,San Antonio Spurs,0022000147,2021-01-10,SAS @ MIN,L,240,88,...,0.571,9,36,45,21,4,5,10,16,-5.2
1,22020,1610612751,BKN,Brooklyn Nets,0022000143,2021-01-10,BKN vs. OKC,L,241,116,...,0.833,6,37,43,23,3,2,17,18,-11.6
2,22020,1610612765,DET,Detroit Pistons,0022000141,2021-01-10,DET vs. UTA,L,239,86,...,0.857,11,28,39,21,10,7,7,23,-10.0
3,22020,1610612747,LAL,Los Angeles Lakers,0022000146,2021-01-10,LAL @ HOU,W,241,120,...,0.750,10,39,49,28,13,8,16,23,18.0
4,22020,1610612746,LAC,LA Clippers,0022000142,2021-01-10,LAC vs. CHI,W,240,130,...,0.800,12,23,35,28,13,5,10,19,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23059,22015,1610612765,DET,Detroit Pistons,0021500420,2015-12-22,DET @ MIA,W,240,93,...,0.571,12,31,43,16,3,3,16,11,1.0
23060,22015,1610612763,MEM,Memphis Grizzlies,0021500419,2015-12-22,MEM @ PHI,W,241,104,...,0.792,9,27,36,26,16,3,12,23,14.0
23061,22015,1612709902,SCW,Santa Cruz Warriors,2021500135,2015-12-22,SCW vs. LAD,L,240,82,...,0.692,7,38,45,25,8,8,20,15,-22.0
23062,22015,1612709904,SXF,Sioux Falls Skyforce,2021500134,2015-12-22,SXF vs. RAP,W,255,111,...,0.806,13,35,48,25,12,9,17,21,9.0
23063,22015,1612709920,RAP,Raptors 905,2021500134,2015-12-22,RAP @ SXF,L,254,102,...,0.455,12,29,41,26,10,4,21,24,-9.0

In [ ]:
s= [f"20{i}-{i+1}" for i in range(12, 9, -1)] + ["2009-10"] + [f"200{i}-0{i+1}" for i in range(8, 6, -1)]
c = conn.cursor()
for season in s:
    player_league_info = leaguegamelog.LeagueGameLog(player_or_team_abbreviation="P", season=season)
    player_info = player_league_info.get_data_frames()
    #team_info = team_league_info.get_data_frames()
    for index, row in tqdm_notebook(player_info[0].iterrows(), total=player_info[0].shape[0]):
        # Player if not exists
        pid, gid = row["PLAYER_ID"], row["GAME_ID"]
        tid = row["TEAM_ID"]
        c.execute("SELECT id FROM Player WHERE id = ?", (pid,))
        if c.fetchone() is None: # Create a new Player
            c.execute("INSERT INTO Player(id, name) VALUES (?, ?)", (pid, row["PLAYER_NAME"]))
        # Game if not exists
        c.execute("SELECT id FROM Game WHERE id = ?", (gid,))
        if c.fetchone() is None:
            c.execute("INSERT INTO Game(id, date) VALUES (?, ?)", (gid, row["GAME_DATE"]))
            # if we won, put our id in the winnerid
        if "@" in row["MATCHUP"]: # we played away
            c.execute("UPDATE Game SET awayid=? WHERE id=?",
                  (row["TEAM_ID"], gid))
        else: # we played home
            c.execute("UPDATE Game SET homeid=? WHERE id=?",
                  (row["TEAM_ID"], gid))
        if row["WL"] == "W":
            c.execute("UPDATE Game SET winnerid=? WHERE id=?", (row["TEAM_ID"], gid))
            
        # Team if not exists
        c.execute("SELECT id from Team WHERE id = ?", (tid,))
        if c.fetchone() is None:
            c.execute("INSERT INTO Team(id, name, abbr) VALUES (?, ?, ?)", (tid, row["TEAM_NAME"], row["TEAM_ABBREVIATION"]))
        # Fill in PlayerGame and TeamGame
        c.execute("SELECT id FROM PlayerGame WHERE gid=? AND pid=?", (gid, pid))
        if c.fetchone() is not None:
            c.execute("DELETE FROM PlayerGame WHERE gid=? AND pid=?", (gid, pid))
        c.execute("INSERT INTO PlayerGame(gid, pid, three_pct, ft_pct, fg_pct, teamid, playtime,\
                    pts, ft_made, three_pts, oreb, dreb, blk, ast, tov, pf) VALUES (?, ?, ?, ?, ?, ?, \
                    ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)",
                 (gid, pid, row["FG3_PCT"],  row["FT_PCT"], row["FG_PCT"], tid, row["MIN"],
                 row["PTS"], row["FTM"], row["FG3M"], row["OREB"], row["DREB"], row["BLK"], row["AST"],
                 row["TOV"], row["PF"]))
    conn.commit()
    print("Commited season "+season)

In [ ]:
import keras
from tensorflow.keras.utils import Sequence
import tensorflow as tf
import numpy as np
from datetime import datetime, timedelta
import sqlite3
# validation data is the last 20% of the season
# break even percentage is 1/decimal odds

class DataGenerator(Sequence):
    def __init__(self, dbname, x_set, y_set, batch_size=32, dim=(5, 5),n_chan=7,
                shuffle=True, isValidation=False):
        self.batch_size=batch_size
        self.dim=dim
        self.n_chan=n_chan
        self.shuffle=shuffle
        self.isValidation = isValidation
        self.dbname=dbname
        self.x, self.y = x_set, y_set
        print(self.x[:10], self.y[:10])
    def __len__(self):
        return int(np.floor(len(self.x)/self.batch_size))
    def __getitem__(self, index):
        batch_x = self.x[index*self.batch_size:(index+1)*self.batch_size]
        batch_y = self.y[index*self.batch_size:(index+1)*self.batch_size]
        # batch_x contains a list of gameIDs... make "images" from these
        X = np.zeros((self.batch_size, self.n_chan, *self.dim))
        Y = np.asarray(batch_y)
        for i, sample in enumerate(batch_x):
            X[i,] = self.makeSample(sample)
        return X, Y
        
    def makeSample(self, gameid):
        # create a (5,5) with 6 channels (different stats)
        # select the top 5 players from each team based on playtime
        c=sqlite3.connect(self.dbname).cursor()
        c.execute("SELECT homeid, awayid, date FROM Game WHERE id=?", (gameid,))
        homeid, awayid, date = c.fetchone()
        print(date)
        c.execute("SELECT Team.id, Player.id, Player.name\
                        FROM PlayerGame as pg, Game, Player, Team\
                        WHERE Game.id=? AND pg.gid=Game.id\
                        AND pg.pid=Player.id AND pg.teamid=Team.id\
                        ORDER BY pg.teamid, pg.playtime DESC", (gameid,))
        # for each of these players, calulate their averages from last 8 games
        #print("pg.three_pct, pg.pts, pg.fg_pct, pg.ft_pct, pg.ast, pg.tov, pg.blk")
        home, away = [], []
        for team, player, name in c.fetchall():
            #print(name)
            #since = datetime.strptime(date, "%Y-%m-%d") - timedelta(days=60)
            #d = since.strftime("%Y-%m-%d")
            c.execute("SELECT AVG(coalesce(f.three_pct,0)), AVG(f.pts), AVG(coalesce(f.fg_pct,0)),\
                            AVG(coalesce(f.ft_pct,0)), AVG(f.ast), AVG(f.tov), AVG(f.blk)\
                            FROM (SELECT pg.three_pct, pg.pts, pg.fg_pct, pg.ft_pct, pg.ast, pg.tov, pg.blk\
                                FROM PlayerGame as pg, Game as g1 WHERE\
                            pg.pid=? AND pg.gid=g1.id\
                            AND g1.date < ? AND g1.date > ?) as f", (player,date, date-2592000))
            if str(team) == homeid:
                home.append(c.fetchone())
            else:
                away.append(c.fetchone())
        #print(home, away)
        num_features = len(home[0])
        features = np.zeros((self.n_chan, *self.dim))
        for z in range(self.n_chan):
            for x in range(self.dim[0]): # iterating over the home players
                for y in range(self.dim[0]): # over the away players
                    features[z, x, y] = home[x][z] - away[y][z]
            # normalize the feature between -1 and 1
            f = features[z]
            features[z] = 2*(f-f.min())/(f.max()-f.min()) -1
        return features
        # order the players by height
        # pg.three_pct, pg.pts, pg.fg_pct, pg.ft_pct, pg.ast, pg.tov
        # do home-away for each of the stats. (then -1 to 1 normalization)
        # return the 5x5x6

In [ ]:
from sklearn.model_selection import train_test_split
import random
import sqlite3
from keras import backend
import glob, os
samples = []
labels = []
with sqlite3.connect("nba2.db") as conn:
    c = conn.cursor()
    for season in [f"20{str(i).zfill(2)}" for i in range(7, 20)]:
        for file in glob.glob(f"samples/{season}/*.npy"):
            samples.append(np.load(file))
            gid = os.path.basename(file).rstrip(".npy")
            c.execute("Select CASE WHEN Game.winnerid=Game.homeid THEN 1\
                            ELSE 0 END AS label FROM Game WHERE Game.id=?", (gid,))
            labels.append(c.fetchone())
# Naive random oversample
diff = len(labels)//2 - labels.count((0,))
for i in range(diff):
    while True:
            a = random.randint(1, len(labels)-1)
            if labels[a] == (0,):
                samples.append(samples[a])
                labels.append((0,))
                break
samples = np.stack(samples)
labels = np.stack(labels)
print(samples.shape, labels.shape)
t_split = int(samples.shape[0]*0.8)
x_train, x_test, y_train, y_test = train_test_split(samples, labels, test_size=0.2, random_state=30)

In [ ]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Convolution2D, Conv2D, MaxPooling2D, GlobalAveragePooling2D
from keras.optimizers import Adam
from keras.utils import np_utils
from keras.optimizers import RMSprop
model = Sequential()
model.add(Conv2D(filters=16, kernel_size=(2, 2), input_shape=(7, 5, 5),
                 data_format="channels_first", activation="relu"))
#model.add(Conv2D(filters=32, kernel_size=(1, 1), activation="relu"))
#model.add(Conv2D(filters=32, kernel_size=(3,3), activation="relu",))
#model.add(Conv2D(filters=32, kernel_size=(3, 3),activation="relu"))
model.add(Flatten())
model.add(Dense(32, activation="relu"))
model.add(Dropout(0.5))
model.add(Dense(16, activation="relu"))
model.add(Dropout(0.5))
model.add(Dense(8, activation="relu"))
model.add(Dropout(0.5))
model.add(Dense(1, activation="sigmoid"))
print(model.summary())
adm = Adam(lr=0.0001)
model.compile(loss="binary_crossentropy", optimizer=adm,metrics=["accuracy"])
history = model.fit(x_train, y_train, batch_size=16,validation_data=(x_test, y_test), verbose=1,epochs=5)

In [ ]:
predictions = model.predict(samples[:10])
predictions

# Version 2

## Add columns

In [ ]:
from nba_api.stats.endpoints import leaguegamelog
from nba_api.stats.endpoints import boxscoresummaryv2
from nba_api.stats.endpoints import boxscoreadvancedv2
from nba_api.stats.endpoints import boxscoretraditionalv2
import pandas
import sqlite3
from tqdm import tqdm_notebook
conn = sqlite3.connect("nba2.db")
c = conn.cursor()

player_info = boxscoreadvancedv2.BoxScoreAdvancedV2("0020700001")
for col in player_info.player_stats.get_data_frame().columns[8:]:
    try:
        print(col)
        c.execute(f"ALTER TABLE PlayerGameADV ADD {col} REAL")
    except:
        pass
player_info = boxscoretraditionalv2.BoxScoreTraditionalV2("0020700001")
for col in player_info.player_stats.get_data_frame().columns[9:]:
    try:
        print(col)
        c.execute(f"ALTER TABLE PlayerGameTRAD ADD {col} REAL")
    except:
        pass
conn.commit()

In [ ]:
from nba_api.stats.endpoints import boxscoreadvancedv2
from nba_api.stats.endpoints import boxscoretraditionalv2
import sqlite3
import code
from tqdm import tqdm_notebook
from multiprocessing import Pool
conn = sqlite3.connect("nba2.db")
c = conn.cursor()
c.execute("SELECT id FROM Game")
gameids = c.fetchall()
#columns = c.execute("PRAGMA table_info(PlayerGame)").fetchall()

with Pool(20) as p:
    p.map(code.insert_into_db, [g[0] for g in gameids])

    
    #players_info.rename({'GAME_ID': 'gid', 'TEAM_ID': 'teamid', 'PLAYER_ID':'pid'}, axis='columns', inplace=True)
    #stats = players_info.loc[:, "MIN":] 
    #print(stats)
    #stats.to_sql("PlayerGame", conn, if_exists="append", index=False)

In [ ]:
import sqlite3
from pymongo import MongoClient
client = MongoClient()
db = client.nba
collection = db.games
conn = sqlite3.connect("nba2.db")
c = conn.cursor()
c.execute("SELECT * FROM Game")
gameids = c.fetchall()
normalized_d = [{"GAME_ID":"00"+str(g[0]), "DATE":g[1], "HOME":g[2], "AWAY":g[3], "WINNER":g[4]} for g in gameids]
collection.insert_many(normalized_d)

In [ ]:
pd.set_option('display.max_colwidth', -1)

In [ ]:
from pymongo import MongoClient
import pandas as pd
import re, os
import numpy as np
from tqdm import tqdm
import pickle
with open("adv.txt") as f, open("trad.txt") as g:
    adv_stats = [x.strip() for x in f.readlines()]
    trad_stats = [x.strip() for x in g.readlines()]
client = MongoClient()
db = client.nba
boxtrad = db.trad
boxadv = db.adv
games = db.games
seasons = [f"002{str(i).zfill(2)}" for i in range(7, 20)]
for season in seasons:
    if not os.path.isdir(f"samples/{season}"):
        os.mkdir(f"samples/{season}")
    players_adv, players_trad = {}, {}
    rgx = re.compile(f"^{season}.*")
    seasons_games = games.find({"GAME_ID":rgx})
    players_games = boxtrad.find({"GAME_ID":rgx})
    for pg in tqdm(players_games):
        if pg["PLAYER_ID"] not in players_adv: 
             # if we don't have the player, get all games player has played in this season
            player_adv = boxadv.aggregate([
                        {"$match":{"GAME_ID":rgx, "PLAYER_ID":pg["PLAYER_ID"]}},
                        {"$lookup":{
                            "from": "games",
                            "localField": "GAME_ID",
                            "foreignField": "GAME_ID",
                            "as": "GAME_INFO"}
                        },
                        {"$unwind":"$GAME_INFO"}])
            player_trad = boxtrad.aggregate([
                        {"$match":{"GAME_ID":rgx, "PLAYER_ID":pg["PLAYER_ID"]}},
                        {"$lookup":{
                            "from": "games",
                            "localField": "GAME_ID",
                            "foreignField": "GAME_ID",
                            "as": "GAME_INFO"}
                        },
                        {"$unwind":"$GAME_INFO"}
            ])
            players_adv[pg["PLAYER_ID"]] = pd.DataFrame(list(player_adv))
            players_trad[pg["PLAYER_ID"]] = pd.DataFrame(list(player_trad))
            players_adv[pg["PLAYER_ID"]]["MIN"] = players_adv[pg["PLAYER_ID"]]["MIN"].apply(lambda x: int(x.split(":")[0])*60+int(x.split(":")[1]) if x else 0)
            players_trad[pg["PLAYER_ID"]]["MIN"] = players_trad[pg["PLAYER_ID"]]["MIN"].apply(lambda x: int(x.split(":")[0])*60+int(x.split(":")[1]) if x else 0)
    pickle.dump( players_adv, open( f"samples/{season}_adv.p", "wb" ) )
    pickle.dump( players_trad, open( f"samples/{season}_trad.p", "wb" ) )

    for game in tqdm(seasons_games):
        home, away = [], []
        player_ids = boxadv.find({"GAME_ID":game["GAME_ID"]}, {"PLAYER_ID":1, "TEAM_ID":1})
        for pid in player_ids:
            new = players_adv[pid["PLAYER_ID"]].loc[players_adv[pid["PLAYER_ID"]]["GAME_INFO"].str["DATE"] < game["DATE"], adv_stats].mean()
            new2 = players_trad[pid["PLAYER_ID"]].loc[players_trad[pid["PLAYER_ID"]]["GAME_INFO"].str["DATE"] < game["DATE"], trad_stats].mean()
            if game["HOME"] == str(pid["TEAM_ID"]):
                home.append(np.nan_to_num(np.concatenate((new.to_numpy(), new2.to_numpy()))))
            else:
                away.append(np.nan_to_num(np.concatenate((new.to_numpy(), new2.to_numpy()))))
        home.sort(key=lambda x: x[0], reverse=True) # sort by time played (seconds)
        away.sort(key=lambda x: x[0], reverse=True)
        sample = np.stack([np.vstack(home[:8]), np.vstack(away[:8])])
        np.save(f"samples/{season}/{game['GAME_ID']}.npy", sample)

In [ ]:
from pymongo import MongoClient
import pandas as pd
import re
client = MongoClient()
db = client.nba
boxtrad = db.trad
boxadv = db.adv
games = db.games
players_adv, players_trad = {}, {}
rgx = re.compile(f"^00207.*")
players_games = boxtrad.find({"GAME_ID":rgx})
for pg in tqdm(players_games):
        if pg["PLAYER_ID"] not in players_adv: 
             # if we don't have the player, get all games player has played in this season
            player_adv = boxadv.aggregate([
                        {"$match":{"GAME_ID":rgx, "PLAYER_ID":pg["PLAYER_ID"]}},
                        {"$lookup":{
                            "from": "games",
                            "localField": "GAME_ID",
                            "foreignField": "GAME_ID",
                            "as": "GAME_INFO"}
                        },
                        {"$unwind":"$GAME_INFO"}])
            player_trad = boxtrad.aggregate([
                        {"$match":{"GAME_ID":rgx, "PLAYER_ID":pg["PLAYER_ID"]}},
                        {"$lookup":{
                            "from": "games",
                            "localField": "GAME_ID",
                            "foreignField": "GAME_ID",
                            "as": "GAME_INFO"}
                        },
                        {"$unwind":"$GAME_INFO"}
            ])
            players_adv[pg["PLAYER_ID"]] = pd.DataFrame(list(player_adv))
            players_trad[pg["PLAYER_ID"]] = pd.DataFrame(list(player_trad))
            players_adv[pg["PLAYER_ID"]]["MIN"] = players_adv[pg["PLAYER_ID"]]["MIN"].apply(lambda x: int(x.split(":")[0])*60+int(x.split(":")[1]) if x else 0)
            players_trad[pg["PLAYER_ID"]]["MIN"] = players_trad[pg["PLAYER_ID"]]["MIN"].apply(lambda x: int(x.split(":")[0])*60+int(x.split(":")[1]) if x else 0)

In [ ]:
import numpy as np
with open("adv.txt") as f, open("trad.txt") as g:
    adv_stats = [x.strip() for x in f.readlines()]
    trad_stats = [x.strip() for x in g.readlines()]
seasons_games = games.find({"GAME_ID":"0020700380"})
for game in tqdm(seasons_games):
        home, away = [], []
        player_ids = boxadv.find({"GAME_ID":game["GAME_ID"]}, {"PLAYER_ID":1, "TEAM_ID":1})
        for pid in player_ids:
            new = players_adv[pid["PLAYER_ID"]].loc[players_adv[pid["PLAYER_ID"]]["GAME_INFO"].str["DATE"] < game["DATE"], adv_stats].mean()
            new2 = players_trad[pid["PLAYER_ID"]].loc[players_trad[pid["PLAYER_ID"]]["GAME_INFO"].str["DATE"] < game["DATE"], trad_stats].mean()
            if game["HOME"] == str(pid["TEAM_ID"]):
                home.append(np.nan_to_num(np.concatenate([new.to_numpy(), new2.to_numpy()])))
            else:
                away.append(np.nan_to_num(np.concatenate([new.to_numpy(), new2.to_numpy()])))
        home.sort(key=lambda x: x[0], reverse=True) # sort by time played (seconds)
        away.sort(key=lambda x: x[0], reverse=True)
        sample = np.stack([np.vstack(home[:8]), np.vstack(away[:8])])
        np.save(f"samples/{season}/{game['GAME_ID']}.npy", sample)

In [ ]:
import os
import numpy as np
from tqdm import tqdm
from pymongo import MongoClient
bookies = {
    "44":"Betfair",
    "16":"bet365",
    "18":"Pinnacle",
    "5":"Unibet"
}
client = MongoClient()
db = client.nba
games = db.games

seasons = [f"002{str(i).zfill(2)}" for i in range(8, 20)]
# load the samples into memory
x, y = [], []
def normalize_sample(nparr):
    for feature in range(nparr.shape[-1]): # iterate over the features
        f = np.nan_to_num(nparr[:, :, feature])
        nparr[:, :, feature] = (f-f.min())/(f.max()-f.min())
    return nparr

for season in seasons:
    for filename in tqdm(os.listdir(f"samples/{season}")[120:]):
        if ".npy" in filename:
            game = list(games.find({"GAME_ID":filename.strip(".npy"), "bet365":{"$exists":"True"}}))
            if not game:
                continue
            game = game[0]
            closing_odds = 1/float(game["bet365"].split()[1].split("v")[0])
            home_win = int(game["HOME"] == game["WINNER"])
            sample = np.load(f"samples/{season}/{filename}")
            x.append((normalize_sample(sample), closing_odds))
            y.append(home_win)
x = np.array(x)
y = np.array(y)

import random
print(x.shape, y.shape)
diff = len(y)//2 - np.count_nonzero(y == 0)
for i in tqdm(range(diff)):
    while True:
            a = random.randint(1, len(y)-1)
            if y[a] == 1:
                x = np.delete(x, a, 0)
                y = np.delete(y, a, 0)
                break
print(len(x), len(y))

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(np.array(x), np.array(y), test_size=0.3, shuffle=False)

In [ ]:
x_train[0]

In [ ]:
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Convolution2D, Conv2D, MaxPooling2D, GlobalAveragePooling2D
from keras.optimizers import Adam
from keras.utils import np_utils
from keras.optimizers import RMSprop
model = Sequential()
shape = x[0].shape
print(shape)
model.add(Conv2D(filters=32, kernel_size=(8, 1), input_shape=shape,
                 data_format="channels_first", activation="relu"))
#model.add(Conv2D(filters=32, kernel_size=(1, 1), activation="relu"))
#model.add(Conv2D(filters=32, kernel_size=(3,3), activation="relu",))
#model.add(Conv2D(filters=32, kernel_size=(3, 3),activation="relu"))
model.add(Flatten())
model.add(Dense(64, activation="relu"))
model.add(Dropout(0.4))
model.add(Dense(16, activation="relu"))
model.add(Dropout(0.4))
model.add(Dense(1, activation="sigmoid"))
print(model.summary())
opt = Adam(lr=0.0001)
model.compile(loss="binary_crossentropy", optimizer=opt,metrics=["accuracy"])
#model.fit(x_train, y_train, batch_size=16,validation_data=(x_test, y_test), verbose=1,epochs=1)

In [ ]:
history = model.fit(x_train, y_train, batch_size=16,validation_data=(x_test, y_test), verbose=1,epochs=5)

In [ ]:
model.predict(x[:10])

In [ ]:
history

In [ ]:
import matplotlib.pyplot as plt
# Plot training & validation accuracy values
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('Model accuracy')
plt.ylabel('Accuracy')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')

In [ ]:
# Plot training & validation loss values
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('Model loss')
plt.ylabel('Loss')
plt.xlabel('Epoch')
plt.legend(['Train', 'Test'], loc='upper left')

# collect headshots

In [ ]:
from pymongo import MongoClient
import requests_random_user_agent
from tqdm import tqdm
import os
import requests
client = MongoClient()
db = client.nba
boxtrad = db.trad
collect = boxtrad.find({})
seen = [x.strip(".png") for x in os.listdir("headshots")]
print(seen)
for pg in collect:
    pid = pg["PLAYER_ID"]
    if str(pid) in seen:
        continue
    header = {"Referrer":f"https://stats.nba.com/player/{pid}/"}
    headshot = requests.get(f"https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/{pid}.png",
                            headers=header)
    if headshot.status_code != 200:
        seen.append(str(pid))
        continue
    with open(f"headshots/{pid}.png", "wb") as f:
        f.write(headshot.content)
        seen.append(str(pid))
    print(pid)

In [ ]:
import requests
a = requests.get("https://stats.nba.com/player/203991/")
print(a.content)

# Scrape bet history

In [ ]:
import requests
from multiprocessing import Pool
from bs4 import BeautifulSoup
from tqdm import tqdm
from datetime import datetime
with open("team_names.txt") as f:
    teams = {x[1].strip():x[0] for x in (y.split("-") for y in f.readlines())}
with open("links.txt") as f:
    urls = [x.strip() for x in f.readlines()]
from pymongo import MongoClient
client = MongoClient()
db = client.nba
games = db.games
headers = {
    'cookie': 'js_cookie=1; my_cookie_id=101112686; my_cookie_hash=94b719f17654f45fad8f47626803f40a; upcoming=3-200; my_timezone=^%^2B1; widget_timeStamp=1576892147; page_cached=1; widget_pageViewCount=12',
    'accept-encoding': 'gzip, deflate, br',
    'accept-language': 'en-US,en;q=0.9',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko)',
    'accept': 'application/json, text/javascript, */*; q=0.01',
    'referer': 'https://www.betexplorer.com',
    'authority': 'www.betexplorer.com',
    'x-requested-with': 'XMLHttpRequest',
}
bookies = {
    "44":"Betfair",
    "16":"bet365",
    "18":"Pinnacle",
    "5":"Unibet"
}

for url in urls:
    page = requests.get(url)
    soup = BeautifulSoup(page.text, "html.parser")
    table = soup.find("table", attrs={"class":"table-main h-mb15 js-tablebanner-t js-tablebanner-ntb"})
    rows = table.find_all("tr")
    for row in tqdm(rows):
        cols = row.find_all("td")
        versus = cols[0].a.find_all("span")
        home, away = versus[0].text, versus[1].text
        date = cols[4].text.split(".")
        if not date[2]:
            date[2] = datetime.now().year
        dt = datetime(int(date[2]), int(date[1]), int(date[0])).timestamp()
        if not cols[0].a.has_attr("href"):
            continue
        link = cols[0].a.attrs["href"]
        game_id = link.split("/")[-2]
        game_page = requests.get(f"https://www.betexplorer.com/match-odds/{game_id}/1/ha/", headers=headers)
        soup = BeautifulSoup(game_page.json()["odds"], "html.parser")
        table = soup.find("table", attrs={"class":"table-main h-mb15 sortable"})
        if not table:
            continue
        bookmakers = table.find_all("tr")[1:-1]
        if not bookmakers: # there were no bookmakers for this game
            continue
        for b in bookmakers:
            if not b.has_attr("data-bid"):
                continue
            bid = b.attrs["data-bid"]
            if bid not in bookies: # betfair, bet365, pinnacle, unibet
                continue
            cols = b.find_all("td")
            if not cols[3].has_attr("data-opening-odd"):
                cols[3].attrs["data-opening-odd"] = "1.0"
            if not cols[4].has_attr("data-odd"):
                cols[4].attrs["data-odd"] = "1.0"
            home_open, home_close = cols[3].attrs["data-opening-odd"], cols[3].attrs["data-odd"]
            away_open, away_close = cols[4].attrs["data-opening-odd"], cols[4].attrs["data-odd"]
            games.update_one({"HOME":str(teams[home]), "AWAY":str(teams[away]), "DATE":{"$gte":dt-86400, "$lte":dt+86400}},
                            {"$set":{bookies[bid]:f"{home_open}v{away_open} {home_close}v{away_close}"}})
        #print(home, teams[home], away, teams[away], date, bookies[bid], home_close, away_close)

![loss](loss.png)

In [ ]:
from keras import backend as K
from keras.models import Model
from keras.models import Sequential
from keras.layers import Input, Dense, Dropout, Conv2D, Flatten, Activation, concatenate
from keras.optimizers import Adam

c = 0.6
def decorrelation_loss(neuron):
    def loss(y_actual, y_predicted):
        return K.mean(
                K.square(y_actual-y_predicted) - c * K.square(y_predicted - neuron))
    return loss

# split the two input streams
box_scores_train, odds_train = map(list, zip(*x_train))
box_scores_test, odds_test = map(list, zip(*x_test))

# box model turns stats into a vector
box_model = Sequential()
shape = box_scores_train[0].shape
print(shape)
box_model.add(Conv2D(filters=32, kernel_size=(1, 8), input_shape=shape,
                 data_format="channels_first", activation="relu"))
box_model.add(Flatten())

box_input = Input(shape=shape)
box_encoded = box_model(box_input)

odds_input = Input(shape=(1,), dtype="float32") #(opening or closing weight)
merged = concatenate([odds_input, box_encoded])
output = Dense(32, activation="relu")(merged)
output = Dropout(0.5)(output)
output = Dense(8, activation="relu")(output)
output = Dropout(0.5)(output)
signal = Dense(1, activation="sigmoid")(output)

opt = Adam(lr=0.0001)
nba_model = Model(inputs=[box_input, odds_input], outputs=signal)
print(nba_model.summary())

nba_model.compile(optimizer=opt,
                  #loss="binary_crossentropy",
              loss=decorrelation_loss(odds_input), # Call the loss function with the selected layer
              metrics=['accuracy'])
nba_model.fit([box_scores_train, odds_train], y_train,
              batch_size=16,validation_data=([box_scores_test, odds_test], y_test), verbose=1,epochs=20)

In [ ]:
b, ods = map(list, zip(*x))
results = list(y)
balance = 100
history = [100]
predictions = nba_model.predict([b, ods])
for i, p in enumerate(predictions):
    if p[0] > 0.6:
        bet = balance * 0.1 * p[0]
        balance -= bet
        if results[i] == 1:
            balance += bet*(1/ods[i])
        history.append(balance)
%matplotlib inline
import matplotlib.pyplot as plt
plt.plot(history)

In [ ]:
max(history)